.board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 5px dashed darkblue;
}

.row {
  display: flex;
  width: 100%;
}

.cell {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
 
.ship:hover {
  background-color: gray;
  
}

.hit {
  background-color: red;
}

.miss {
  background-color: #1c8db1;
}
.button-p-2{
  display: flex;
  justify-content: center;
  padding-bottom: 29px;
}
.text{
  display: flex;
  justify-content: center;
}
.button-a{
  display: flex;
  padding-top: 17px;
  justify-content: center;
}
.contador{
  margin-top: 20px;
  position: relative;
  background: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  width: 20%;
  margin: auto;

}
.contador:hover
{
  letter-spacing: 0.25em;
  background:var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}
.contador::before
{
  content: "";
  position: absolute;
  inset: 2px;
  background: #27282c;
}
.contador span{
  position: relative;
  z-index:1;
}
.contador i
{
  position: absolute;
  inset: 0;
  display: block;
}
.contador i::before
{
  content: "";
  position: absolute;
  top:-3.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--clr);
  background: #075310;
  transform: translateX(-50%);
  transition: 0.5s;
}
.contador:hover i::before
{
  width: 20px;
  left: 20%;
}
.contador i::after
{
  content: "";
  position: absolute;
  bottom:-3.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--clr);
  background: #097e1b;
  transform: translateX(-50%);
  transition: 0.5s;
}
.contador:hover i::after
{
  width: 20px;
  left: 80%;
}